.view {
  width: 1000px;
  height: 500px;
  background-image: url('@/assets/images/ground.jpg');
}

.mountain-wall {
  height: 132px;
  background-image: url('@/assets/images/wall.jpg');
  img {
    width: 130px;
    height: 99px;
  }
}

@font-face {
  font-family: '404notfont-by-9527.tw';
  src: url('@/assets/404notfont-by-9527.tw.woff2?2') format('woff2');
  font-display: swap;
}

.text-lattice {
  font-family: '404notfont-by-9527.tw', sans-serif !important;
}